/* Sidebar styles */

body {
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    width: 1470px;
    margin-top: 40px;
    background-color: #efe9e9;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

    .sidebar .navbar-brand {
        font-size: 70px;
        font-weight: 600;
        color: #430949;
        padding-bottom: 40px;
        font-family: 'Montserrat', sans-serif;
    }

li {
    list-style-type: none;
}

.sidebar .navbar-toggler {
    display: none;
}

.sidebar .nav-link {
    display: block;
    color: #4b2020;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0;
    transition: background-color 0.3s;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

    .sidebar .nav-link:hover {
        background-color: #ddd;
    }


/* Main content styles */
.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}

    .main .top-row {
        background-color: mediumslateblue;
        color: #fff;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        .main .top-row a {
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
        }


/* Responsive styles */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

        .sidebar.show {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 999;
        }

    .main .top-row {
        justify-content: flex-start;
    }

        .main .top-row a {
            margin-left: 0;
        }

    .sidebar .navbar-toggler {
        display: block;
        background-color: rosybrown;
        border: none;
    }

        .sidebar .navbar-toggler .navbar-toggler-icon {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }

    .sidebar .nav.flex-column {
        padding: 20px;
    }

    .sidebar .nav-link {
        font-size: 18px;
        padding: 8px 0;
    }
}


/* DropDownwidget Styles */
.data-frame {
    background-color: #fff;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.dropdown-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.dropdown-toggle {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

    .dropdown-toggle:focus {
        outline: none;
        border-radius: 5px;
    }

.dropdown-menu {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    right: 0;
    min-width: 300px;
    max-height: 500px;
    display: none;
    overflow-y: auto;
    background-color: #fff;
}

    .dropdown-menu table {
        width: 100%;
    }

    .dropdown-menu th,
    .dropdown-menu td {
        padding: 8px;
    }

    .dropdown-menu th {
        background-color: #584e4e;
        color: #fff;
        border-radius: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    .dropdown-menu td {
        border-top: 1px solid #ccc;
    }

    .dropdown-menu tr:last-child td {
        border-bottom: 1px solid #ccc;
    }

    .dropdown-menu tbody tr:hover {
        background-color: #ddd;
    }

    .dropdown-menu .close-button {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #999;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }

        .dropdown-menu .close-button:hover {
            color: lightgreen;
        }

.table-wrapper {
    max-height: 100%;
}

/* New styles for buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

    .buttons button {
        padding: 8px 12px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
        margin-left: 2px;
        font-family: 'Montserrat', sans-serif;
    }

        .buttons button:hover {
            background-color: #555;
        }

        .buttons button.active {
            background-color: #7f7f7f;
            color: #080707;
        }

